.header{
    // overflow-x: hidden;
    max-width:100%;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        top: 85px;
        left: 0;
        width: 100%;
        height: 1px;
        background: #000;
    }
    &::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: #000;
    }

    @media (max-width:767px){
        &::before{
            display: none;
        }
        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: #000;
        }
    }
    .container{
        .top{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 15px 0;
            .logo-block{
                cursor: pointer;
                .logo{
                    // position: relative;
                    *{
                        transition: .25s;
                    }


                    &:hover{
                        .filled{
                            fill: $active-color;
                        }
                    }
                }
            }

            .functions{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .language{
                    span{
                        font-size: 1.2em;
                        cursor: pointer;
                        transition: .25s;
                        &:first-child{
                            margin-right: 20px;
                            position: relative;
                            &:after{
                                content: '';
                                position: absolute;
                                width: 1px;
                                height: 100%;
                                right: -11px;
                                top: 0;
                                background: #000;
                            }
                        }
                        &:hover{
                            color: $active-color;
                        }
                    }
                    margin-right: 50px;
                    .active{
                        font-weight: bolder;
                    }
                }
                .header-cart{
                    width: 30px;
                    margin-top: -2px;
                    cursor: pointer;
                    *{
                        transition: .25s;
                    }
                    &:hover{
                        *{
                            fill: $active-color;
                        }
                    }
                }
            }
        }
        .bottom{
            padding: 14px 0;
            position: relative;
            
            .menu{
                padding: 0;
                margin: 0;
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: space-around;
                position: relative;
                z-index: 5;
                li{
                    cursor: pointer;
                    transition: .25s;
                    svg * {
                    transition: .25s;
                    }

                    &:hover{
                        color: $active-color;
                        svg * {
                            fill: $active-color
                        }
                    }
                    &:nth-child(1){
                        &:hover{
                            color: inherit;
                            span{
                                color: $active-color;
                            }
                            svg * {
                                fill: $active-color
                            }
                        }
                    }
                }
                .subMenu{
                    position: relative;
                    z-index: 5;
                    // span{
                    //     // sdsd
                    // }
                    .sub{
                        z-index: 5;
                        position: absolute;
                        width: 100%;
                        list-style: none;
                        top: 100%;
                        left: -4px;
                        overflow: hidden;
                        background: #fff;
                        transition:  .25s;
                        padding: 0 4px;
                        height: 0;
                        li{
                            text-align: center;
                            // color: white;
                            margin-bottom: 5px; 
                            &{
                                &:hover{
                                    color: $active-color;
                                    svg * {
                                        fill: $active-color
                                    }
                                }
                            }
                        }
                    }

                    &:hover{
                        .sub{
                            padding: 5px 4px;
                            height: 70px;
                        }
                    }
                }
            }
        }
    }

    .small-container{
        padding: 10px !important;
        .hader-head{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            .menu{
                width: 25px;
                height: 15px;
                position: relative;
                *{
                    transition: .25s;
                }
                &:hover{
                    .line{
                        background: $active-color;
                        &::after, &::before{
                            background: $active-color; 
                        }
                    }
                }
                .line{
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    background: #000;
                    left: 0;
                    top: 0;
                    &::after, &::before{
                        content: '';
                        position: absolute;
                        transition: .25s;
                        width: 100%;
                        height: 1px;
                        background: #000;

                    }
                    &::after{
                        bottom: -15px;
                        left: 0;
                    }
                    &::before{
                        bottom: -7px;
                        left: 0;
                    }
                }
            }
            .small-logo-block{
                display: flex;
                align-items: center;
                justify-content: center;
                .logo{
                    width: 200px;
                }
            }
            .header-cart-small{
                width: 30px;
                height: 30px;
            }
        }
        .small-menu{

        //   display: none;
            position: fixed;
            width: 100%;
            height: 100vh;
            top: 0;
            left: -100%;
            background: #fff;
            z-index: 99999999;
            // position: relative;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-direction: column;
            padding: 10px;
            box-sizing: border-box;
            transition: .25s;
            opacity: 0;

            .cancel{
                position: absolute;
                right: 20px;
                top: 20px;
                width: 25px;
                height: 25px;
            }
            .small-menu-container{
                width: 60%;
                padding: 0;
                list-style: none;
                text-align: center;
                box-sizing: border-box;
                
                li{
                    width: 100%;
                    position: relative;
                    font-size: 16px;
                    margin-bottom: 20px;
                    box-sizing: border-box;
                    padding: 4px 0;
                    &:after{
                        content: '';
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        left: 0;
                        height: 1px;
                        background: #ABABAB;
                    }
                }
            }

            .small-info{
                width: 100%;
                .top{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    a{
                        width: 60%;
                        color: inherit;
                        text-decoration: none;
                        position: relative;
                        font-size: 16px;
                        margin-bottom: 20px;
                        box-sizing: border-box;
                        padding: 4px 0;
                        text-align: center;
                        &:after{
                            content: '';
                            position: absolute;
                            bottom: 0;
                            width: 100%;
                            left: 0;
                            height: 1px;
                            background: #ABABAB;
                        }
                    }
                }
                .bottom{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    ul{
                        list-style: none;
                        padding: 0;
                        font-weight: 600;
                        li{
                            &:first-child{
                                font-weight: normal;
                            }
                            margin-bottom: 6px;
                        }
                    }
                    .language{
                        
                    span{
                        font-size: 1.2em;
                        cursor: pointer;
                        transition: .25s;
                        &:first-child{
                                margin-right: 20px;
                                position: relative;
                                &:after{
                                    content: '';
                                    position: absolute;
                                    width: 1px;
                                    height: 100%;
                                    right: -11px;
                                    top: 0;
                                    background: #000;
                                }
                            }
                            &:hover{
                                color: $active-color;
                            }
                        }
                        margin-right: 50px;
                        .active{
                            font-weight: bolder;
                        }
                    }
                }
            }
        }
        .small-menu-active{
            left: 0;
            opacity: 1;
        }
      }
}