.admin {
    // background: red;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    .center {
        box-sizing: border-box;

        width: 1440px;
        margin: 0 auto;
        // background: #000;
    }
}

.loading-page {
    .center {
        height: 90vh;
        width: 100%;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        text-align: center;
        font-size: 32px;
    }
}

@import "./products.scss";

.admin-header {
    box-shadow: 0 0px 12px 1px rgba($color: #000000, $alpha: 0.3);

    .center {
        box-sizing: border-box;

        width: 1440px;
        margin: 0 auto;
        padding: 15px 0;
        ul {
            list-style: none;
            display: flex;
            padding: 0;
            align-items: center;
            justify-content: flex-start;
            li {
                margin-right: 15px;
                font-size: 18px;
                cursor: pointer;
                transition: 0.25s;
                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }
}

.admin-enter {
    width: 100%;
    min-height: 100vh;
    position: relative;
    .bg {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        overflow: hidden;
        // filter: blur(1px);
        // filter: ;
        svg {
            // width: 100%;
            margin-left: -10px;
            width: auto;
            min-height: 100%;
            min-width: 100%;
            object-fit: cover;
        }
    }
    .center {
        position: absolute;
        top: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 0;
        top: 0;

        .enter-form {
            width: 280px;
            height: auto;
            box-sizing: border-box;
            padding: 25px 15px;
            background: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            border-radius: 11px;
            border: 1px solid rgba($color: #000000, $alpha: 0.3);
            box-shadow: 0 0 10px 3px rgba($color: #000000, $alpha: 0.2);
            input {
                width: 100%;
                border: 1px solid #0e2a47;
                box-sizing: border-box;
                padding: 11px 8px;
                margin-bottom: 25px;
                border-radius: 4px;
            }
            button {
                width: 80%;
                border: 1px solid #0e2a47;
                box-sizing: border-box;
                padding: 11px 8px;
                border-radius: 4px;
                background: #0e2a47;
                color: #fff;
                cursor: pointer;
                transition: 0.25s;
                &:hover {
                    background: lighten($color: #0e2a47, $amount: 5);
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .admin {
        // background: red;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        .center {
            box-sizing: border-box;

            width: 100%;
            margin: 0 auto;
            // background: #000;
        }
    }

    .admin-header {
        box-shadow: 0 0px 12px 1px rgba($color: #000000, $alpha: 0.3);

        .center {
            box-sizing: border-box;

            width: 100%;
            ul {
                list-style: none;
                display: flex;
                padding: 0;
                align-items: center;
                justify-content: center;
                li {
                    margin-right: 8px;
                    font-size: 16px;
                    cursor: pointer;
                    transition: 0.25s;
                    &:hover {
                        opacity: 0.6;
                    }
                    &:nth-child(4) {
                        display: none;
                    }
                }
            }
        }
    }
}
