.products-head {
    box-sizing: border-box;
    padding: 10px 0;
    .center {
        .filters-layout {
            position: fixed;
            width: 100%;
            height: 100vh;
            left: 0;
            top: 0;
            background: rgba($color: #000000, $alpha: 0.45);
            display: flex;
            align-items: center;
            justify-content: center;
            .filters-block {
                box-sizing: border-box;
                padding: 25px;
                background: #fff;
                min-width: 300px;
                border-radius: 9px;

                .close {
                }
            }
        }

        ul {
            list-style: none;
            display: flex;
            padding: 0;
            align-items: center;
            justify-content: flex-start;
            li {
                box-sizing: border-box;
                border: 1px solid #000;
                border-radius: 4px;
                padding: 8px 10px;
                margin-right: 15px;
                font-size: 18px;
                cursor: pointer;
                transition: 0.25s;
                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }
}
