.products-head {
    box-sizing: border-box;
    padding: 10px 0;
    .center {
        .filters-layout {
            position: fixed;
            width: 100%;
            height: 100vh;
            left: 0;
            top: 0;
            background: rgba($color: #000000, $alpha: 0.45);
            display: flex;
            align-items: center;
            z-index: 99;
            justify-content: center;
            cursor: pointer;
            // position: relative;
            .filters-block {
                cursor: default;
                box-sizing: border-box;
                padding: 25px;
                background: #fff;
                min-width: 300px;
                border-radius: 9px;
                position: relative;

                .close {
                    // background: #000;
                    // margin-left: auto;
                    width: 25px;
                    height: 25px;
                    font-weight: bold;
                    cursor: pointer;
                    // float: left;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 20px;

                    position: absolute;
                    right: 5px;
                    top: 5px;
                    transition: 0.25s;

                    &:hover {
                        color: #e73635;
                    }
                }
                h2 {
                    font-weight: 400;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    margin-top: 5px;
                    span {
                        font-weight: bold;
                        margin-top: 7px;
                    }
                }
                button {
                    width: 100%;
                    border: 1px solid #0e2a47;
                    box-sizing: border-box;
                    padding: 11px 8px;
                    border-radius: 4px;
                    background: #0e2a47;
                    color: #fff;
                    cursor: pointer;
                    transition: 0.25s;
                    &:hover {
                        background: lighten($color: #0e2a47, $amount: 5);
                    }
                }
                .add {
                    margin-bottom: 20px;
                }
                .list {
                    width: 100%;
                    display: flex;
                    // display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    max-height: 320px;
                    overflow-y: auto;
                    .item {
                        display: flex;
                        align-items: center;
                        // align-content: center;
                        justify-content: space-between;
                        // height: auto;
                        padding: 10px 0;
                        box-sizing: border-box;
                        border-bottom: 1px solid #0e2a47;

                        .key {
                            text-align: center;
                            // width: 100%;
                            flex: 1 0;
                            box-sizing: border-box;
                            &:first-child {
                                max-width: 10%;
                                // background: red;
                            }
                            &:last-child {
                                max-width: 30%;
                            }

                            button {
                                background: #e73635;
                                padding: 7px 2px;
                            }
                        }
                    }
                }
            }
        }

        ul {
            list-style: none;
            display: flex;
            padding: 0;
            align-items: center;
            justify-content: flex-start;
            li {
                box-sizing: border-box;
                border: 1px solid #000;
                border-radius: 4px;
                padding: 8px 10px;
                margin-right: 15px;
                font-size: 18px;
                cursor: pointer;
                transition: 0.25s;
                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }
}

.admin {
    .center {
        .product-list {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            width: 100%;
            .item {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                box-sizing: border-box;
                padding: 20px 0;
                width: 100%;
                // margin-bottom: 15px;
                border-bottom: 1px solid rgba($color: #000000, $alpha: 0.35);
                transition: 0.25s;
                &:first-child {
                    background: rgba($color: #000000, $alpha: 0.1);
                }
                &:not(:first-child) {
                    cursor: pointer;
                }

                .section {
                    flex: 1 0;
                    max-width: 25%;
                    text-align: center;
                    position: relative;
                    .status_span {
                        display: block;
                        height: 100%;
                        width: 100%;
                        border-radius: 4px;
                        color: #fff;
                        position: relative;
                    }
                    .cancel {
                        // &:after {
                        background: #e03b24;
                        // }
                    }
                    .new {
                        background: #3865a3;
                    }
                    .paid {
                        background: #87a2c7;
                    }
                    .done {
                        background: #64a338;
                    }
                    .delivery {
                        background: #ffcc00;
                    }

                    img {
                        height: 60px;
                        width: 50px;

                        object-fit: contain;
                    }
                }

                &:hover {
                    &:not(:first-child) {
                        background: rgba($color: #000000, $alpha: 0.15);
                    }
                }
            }
        }
    }
}

@import "./singleProduct.scss";
