.products-head {
    box-sizing: border-box;
    padding: 10px 0;
    .center {
        .filters-layout {
            position: fixed;
            width: 100%;
            height: 100vh;
            left: 0;
            top: 0;
            background: rgba($color: #000000, $alpha: 0.45);
            display: flex;
            align-items: center;
            justify-content: center;
            .filters-block {
                box-sizing: border-box;
                padding: 25px;
                background: #fff;
                min-width: 300px;
                border-radius: 9px;

                .close {
                }
            }
        }

        ul {
            list-style: none;
            display: flex;
            padding: 0;
            align-items: center;
            justify-content: flex-start;
            li {
                box-sizing: border-box;
                border: 1px solid #000;
                border-radius: 4px;
                padding: 8px 10px;
                margin-right: 15px;
                font-size: 18px;
                cursor: pointer;
                transition: 0.25s;
                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }
}

.admin {
    .center {
        .product-list {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            width: 100%;
            .item {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                box-sizing: border-box;
                padding: 10px;
                width: 100%;
                // margin-bottom: 15px;
                border-bottom: 1px solid rgba($color: #000000, $alpha: 0.35);
                transition: 0.25s;
                &:not(:first-child) {
                    cursor: pointer;
                }

                .section {
                    flex: 1 0;
                    max-width: 25%;
                    text-align: center;

                    img {
                        height: 60px;
                        width: 50px;

                        object-fit: contain;
                    }
                }

                &:hover {
                    &:not(:first-child) {
                        background: rgba($color: #000000, $alpha: 0.15);
                    }
                }
            }
        }
    }
}

@import "./singleProduct.scss";
