.admin {
    .center {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: flex-start;
        gap: 20px;
        h1 {
            width: 100%;
        }

        .inline-content {
            display: flex;
            align-content: flex-start;
            justify-content: flex-start;
            gap: 10px 25px;
            flex-wrap: wrap;
        }

        .block {
            width: 46%;
            border-radius: 14px;
            box-sizing: border-box;
            padding: 20px 15px;
            box-shadow: 0 7px 10px 2px rgba($color: #000000, $alpha: 0.24);
            margin-bottom: 20px;
            h2 {
                margin: 0;
                margin-bottom: 30px;
                width: 100%;
                align-self: flex-start;
            }

            .hide-input {
                width: 75px;
                height: 75px;
                box-sizing: border-box;
                padding: 7px;
                border: 1px solid rgba($color: #000000, $alpha: 0.5);
                border-radius: 6px;
                cursor: pointer;
                transition: 0.25s;
                svg {
                    transition: 0.25s;

                    height: 100%;
                }
                &:hover {
                    border-color: transparent;
                    svg {
                        scale: (1.2);
                    }
                }
            }
            .imgs-list {
                .placehold {
                    position: relative;
                    box-sizing: border-box;
                    padding: 0;
                    margin: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &:after {
                        content: "X";
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        left: 0;
                        top: 0;
                        background: rgba($color: red, $alpha: 0.4);
                        color: #fff;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 6px;
                        font-size: 40px;
                        cursor: pointer;
                        opacity: 0;
                        transition: 0.25s;
                    }

                    img {
                        width: 105px;
                        height: 105px;
                        box-sizing: border-box;
                        border-radius: 6px;
                        transition: 0.25s;
                        padding: 7px;
                        border: 1px solid rgba($color: #000000, $alpha: 0.5);
                        object-fit: contain;
                        cursor: pointer;
                    }
                    &:hover {
                        &::after {
                            opacity: 1;
                        }
                    }
                }
            }
            input[type="file"] {
                visibility: hidden;
                order: -1;
                width: 1px;
                height: 1px;
                margin: 0;
                padding: 0;
            }

            .inputs {
                position: relative;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                box-sizing: border-box;
                margin-bottom: 20px;

                label {
                    position: absolute;
                    left: 10px;
                    top: 50%;
                    translate: 0 -50%;
                    background: #fff;
                    transition: 0.25s;
                    cursor: text;
                    color: rgba($color: #000, $alpha: 0.55);
                }
                input {
                    box-sizing: border-box;
                    border-radius: 4px;
                    width: 100%;
                    padding: 8px 10px;
                    border: 1px solid rgba($color: #000000, $alpha: 0.35);
                    transition: 0.25s;
                    outline: none;

                    &:focus {
                        border-color: skyblue;
                        & + label {
                            left: 5px;
                            top: -8px;
                            translate: 0;
                            font-size: 12px;
                            color: #000;
                        }
                    }

                    &:not(:placeholder-shown) {
                        // border-color: skyblue;
                        & + label {
                            left: 5px;
                            top: -7px;
                            translate: 0;
                            font-size: 12px;
                            color: #000;
                        }
                    }
                }
            }

            .inputs-select {
                width: 100%;
                // box-sizing: border-box;
                // border-radius: 4px;
                // width: 100%;
                // padding: 8px 10px;
                // border: 1px solid rgba($color: #000000, $alpha: 0.35);
                // transition: 0.25s;
                outline: none;
                position: relative;
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;
                .label {
                    margin-bottom: 7px;
                }
                .select {
                    width: 100%;
                    user-select: none;
                    cursor: pointer;
                    // display: flex;
                    // align-items: center;
                    // justify-content: flex-start;
                    // position: absolute;
                    // right: 0;
                    // top: 0;
                    // background: red;
                    height: 100%;
                    padding-right: 12px;
                    padding-left: 12px;
                    background: transparent;
                    transition: 0.25s;
                    border-top-right-radius: 4px;
                    border-bottom-right-radius: 4px;
                    box-sizing: border-box;
                    border: 1px solid #000;
                    position: relative;
                    .head {
                        box-sizing: border-box;
                        padding: 12px 0;
                    }
                    .select-list {
                        cursor: default;
                        border-radius: 4px;
                        border-top-left-radius: 0px;
                        border-top-right-radius: 0px;
                        transition: 0.25s;
                        z-index: 999;
                        outline: 0;
                        box-sizing: border-box;
                        // padding-right: 12px;
                        // padding-left: 12px;
                        position: absolute;
                        top: 100%;
                        background: #fff;
                        width: 100%;
                        left: 0px;
                        max-height: 150px;
                        // border: 0;
                        border: 1px solid #000;

                        overflow: auto;
                        .item {
                            cursor: pointer;
                            transition: 0.25s;
                            box-sizing: border-box;
                            padding: 12px;
                            border-bottom: 1px solid #000;
                            user-select: none;
                            &:last-child {
                                border-bottom: none;
                            }

                            &:hover {
                                background: rgba($color: #000000, $alpha: 0.1);
                            }
                        }

                        &::-webkit-scrollbar {
                            width: 2px;
                        }
                        &::-webkit-scrollbar-track {
                            // box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                            background: rgba(0, 0, 0, 0.3);
                        }
                        &::-webkit-scrollbar-thumb {
                            background-color: var(--color-text);
                            // outline: 1px solid slategrey;
                            outline: none;
                        }
                    }
                }

                .close {
                    .select-list {
                        border: 0;
                        max-height: 0;
                    }
                }
            }

            .add {
                background: transparent;
                width: 75px;
                height: 75px;
                box-sizing: border-box;
                padding: 7px;
                border: 1px solid rgba($color: #000000, $alpha: 0.5);
                border-radius: 6px;
                cursor: pointer;
                transition: 0.25s;
                display: flex;
                align-items: center;
                justify-content: center;
                svg {
                    transition: 0.25s;
                    height: 100%;
                    * {
                        stroke: #b3ddf5;
                    }
                }
                &:hover {
                    border-color: transparent;
                    svg {
                        scale: (1.2);
                    }
                }
            }

            .variant-list {
                width: 100%;
                margin-top: 25px;
                .item {
                    width: 250px;
                    border: 1px solid rgba($color: #000000, $alpha: 0.15);
                    box-sizing: border-box;
                    padding: 15px;
                    border-radius: 6px;
                    box-shadow: 0 0 8px 2px rgba($color: #000000, $alpha: 0.1);
                    position: relative;

                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    .color {
                        position: relative;
                        margin-bottom: 15px;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        .head {
                            margin-right: 15px;
                        }
                        .color-name {
                            transition: 0.25s;
                            width: 35px;
                            height: 35px;
                            box-sizing: border-box;
                            border: 1px solid
                                rgba($color: #000000, $alpha: 0.15);
                            box-shadow: 0 0 8px 2px
                                rgba($color: #000000, $alpha: 0.1);
                            border-radius: 50%;
                            cursor: pointer;
                            &:hover {
                                scale: (1.3);
                            }
                        }
                        .twitter-picker {
                            position: absolute !important;
                            left: -5px;
                            top: calc(100% + 8px);
                            z-index: 999;
                        }
                    }
                    .price {
                        input {
                            &::-webkit-outer-spin-button,
                            &::-webkit-inner-spin-button {
                                -webkit-appearance: none;
                                margin: 0;
                            }
                        }
                    }
                    .selectphoto {
                        p {
                            font-size: 14px;
                            line-height: 15px;
                            letter-spacing: 1px;
                            color: rgba($color: #000000, $alpha: 0.65);
                            box-sizing: border-box;
                            padding-left: 5px;
                            width: 100%;
                            .preview {
                                width: 120px;
                                height: 120px;
                                object-fit: cover;
                                // text-align: center;
                                margin: auto 0;
                            }
                        }
                        .imgs-list {
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            overflow-y: auto;
                            overflow-x: hidden;
                            box-sizing: border-box;
                            flex-wrap: wrap;
                            padding: 10px;
                            background: rgba($color: #000000, $alpha: 0.45);
                            display: flex;
                            align-items: flex-start;
                            justify-content: flex-start;
                            .placehold {
                                margin-right: 8px;
                                background: #fff;
                                border-radius: 7px;
                                margin-bottom: 10px;
                                &:nth-child(even) {
                                    margin-right: 0;
                                }

                                &::after {
                                    content: "";
                                    background: rgba(
                                        $color: #8ed1fc,
                                        $alpha: 0.6
                                    );
                                }
                                img {
                                    width: 100px;
                                    height: 100px;
                                }
                            }
                        }
                    }

                    .select-btn,
                    .delete,
                    .save {
                        cursor: pointer;

                        width: 120px;
                        background: rgba($color: #00d084, $alpha: 0.3);
                        border: 1px solid #00d084;
                        box-sizing: border-box;
                        padding: 6px;
                        margin-bottom: 20px;
                    }
                    .delete {
                        cursor: pointer;

                        margin-top: auto;
                        background: rgba($color: #f78da7, $alpha: 0.3);
                        border: 1px solid #f78da7;
                        width: 100%;
                    }
                }
            }
            .list {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;

                .item {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    box-sizing: border-box;
                    padding: 10px 0;
                    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.35);
                    &:first-child,
                    &:last-child {
                        background: rgba($color: #000000, $alpha: 0.15);
                    }
                    // justify-content: spa;
                    .key {
                        flex: 1 0;
                        text-align: center;
                        img {
                            width: 50px;
                            height: 50px;
                            object-fit: contain;
                        }
                        .variant-color {
                            width: 35px;
                            height: 35px;
                            border-radius: 50%;
                            margin: 0 auto;
                        }
                    }
                }
            }
            .save {
                cursor: pointer;

                width: 200px;
                background: rgba($color: #00d084, $alpha: 0.3);
                border: 1px solid #00d084;
                box-sizing: border-box;
                padding: 6px;
                margin-bottom: 20px;
                margin-top: 15px;
            }
            h3 {
                margin-bottom: 5px;
            }
            ul {
                list-style: none;
                padding: 0;
                li {
                    margin-bottom: 10px;
                    font-size: 18px;
                    span {
                        margin-left: 5px;
                        font-weight: bold;
                    }
                }
            }
        }
        .wide-block {
            width: 100%;
        }
        .btns {
            width: 100%;
            box-sizing: border-box;
            // background: red;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            button {
                cursor: pointer;
                width: 220px;
                background: rgba($color: #00d084, $alpha: 0.3);
                border: 1px solid #00d084;
                box-sizing: border-box;
                padding: 9px;
                margin-bottom: 20px;
            }
            .delete {
                margin-right: 25px;
                cursor: pointer;
                width: 140px !important ;

                margin-top: auto;
                background: rgba($color: #f78da7, $alpha: 0.3);
                border: 1px solid #f78da7;
                width: 100%;
            }
        }
    }
}
