.single-product {
    .container {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        padding: 30px 0;

        .main-img {
            width: 49%;
            border: 1px solid #000;
            box-sizing: border-box;
            max-height: 800px;
            min-height: 800px;
            position: relative;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .img-layer-contoller {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                .left,
                .right {
                    width: 58px;
                    height: 58px;
                    box-sizing: border-box;
                    background: rgba($color: #000000, $alpha: 0.05);
                    opacity: 0.5;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    padding: 8px;
                    transition: 0.25s;
                    cursor: pointer;

                    // top: 50%;
                    // translate: ;
                    svg {
                        width: 100%;
                        object-fit: contain;
                        transition: 0.25s;

                        * {
                            fill: rgba($color: #fff, $alpha: 0.25) !important;
                            transition: 0.25s;

                            // background: ;
                        }
                    }
                }
                .left {
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    svg {
                        rotate: 180deg;
                    }
                }

                .right {
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                }
                .dots {
                    display: flex;
                    position: absolute;
                    width: auto;
                    align-items: center;
                    justify-content: center;
                    bottom: 25px;
                    left: 50%;
                    transform: translateX(-50%);
                    // background: rgba($color: #000000, $alpha: 0.45);
                    background: rgba($color: #000000, $alpha: 0);
                    box-sizing: border-box;
                    padding: 8px;
                    border-radius: 45px;
                    transition: 0.25s;

                    .dot {
                        width: 15px;
                        height: 15px;
                        // background: red;
                        background: rgba($color: #fff, $alpha: 0.25);
                        // border: 1px solid rgba($color: #fff, $alpha: 0.45);
                        border-radius: 50%;
                        margin-right: 15px;
                        transition: 0.25s;
                        cursor: pointer;
                        &:last-child {
                            margin-right: 0;
                        }
                        &.active {
                            background: rgba($color: #fff, $alpha: 1);
                        }
                        &:hover {
                            background: rgba($color: #fff, $alpha: 0.7);
                            transform: scale(1.15);
                        }
                    }
                }

                &:hover {
                    .dots {
                        background: rgba($color: #000000, $alpha: 0.45);
                    }
                    .left,
                    .right {
                        opacity: 1;
                        background: rgba($color: #000000, $alpha: 0.5);

                        svg {
                            * {
                                fill: rgba(
                                    $color: #fff,
                                    $alpha: 0.5
                                ) !important;

                                // background: ;
                            }
                        }
                        &:hover {
                            background: rgba($color: #000000, $alpha: 0.85);

                            svg {
                                * {
                                    fill: rgba(
                                        $color: #fff,
                                        $alpha: 0.95
                                    ) !important;
                                }
                            }
                        }
                    }
                }
            }
        }
        .info {
            width: 49%;
            border: 1px solid #000;
            box-sizing: border-box;
            padding: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            h2 {
                text-align: center;
                font-size: 24px;
                margin: 0;
                font-weight: 400;
                margin-bottom: 30px;
            }
            .info-item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 30px;
                position: relative;
                width: 100%;
                &::after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    background: #ababab;
                    bottom: -3px;
                }
                .headline {
                    font-size: 19px;
                    font-weight: normal;
                    text-transform: capitalize;
                }
                .content {
                    font-size: 19px;
                }
            }

            .var-head {
                width: 100%;
                font-size: 19px;
            }
            .variants {
                user-select: none;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-wrap: wrap;
                gap: 30px;
                .variant {
                    overflow: hidden;
                    cursor: pointer;
                    width: 90px;
                    height: 90px;
                    border: 1px solid transparent;
                    // margin-right: 30px;
                    transition: 0.25s;
                    // object-fit: contain;
                    background-position: center center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    border: 1px solid #000;
                    box-sizing: border-box;

                    position: relative;
                    overflow: hidden;
                    .holder {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        left: 0;
                        top: 0;
                        opacity: 0;
                        box-sizing: border-box;
                        transition: 0.25s;
                        z-index: 1;
                    }
                    .mini-price {
                        position: absolute;
                        right: 50%;
                        top: 50%;
                        translate: 50% -50%;
                        text-align: center;
                        // background: #000;
                        font-size: 18px;
                        opacity: 0;
                        transition: 0.25s;
                        z-index: 2;
                        font-weight: bold;
                    }
                    &:hover {
                        img {
                            transform: scale(1.1);
                        }
                        .mini-price {
                            opacity: 1;
                        }
                        .holder {
                            opacity: 0.75;
                        }
                    }
                    img {
                        transition: 0.25s;
                        width: 100%;
                        height: 100%;
                    }
                }

                .active-variant {
                    border-color: $active-color;
                    .mini-price {
                        opacity: 1;
                    }
                    .holder {
                        opacity: 0.75;
                    }
                }
            }

            .bottom {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 30px;
                .price {
                    font-size: 24px;
                    .discount {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: flex-start;
                        .sale {
                            color: rgba($color: #abb8c3, $alpha: 1);
                            margin-right: 12px;
                            display: block;
                            position: relative;
                            &:after {
                                content: "";
                                position: absolute;
                                width: 120%;
                                height: 2px;
                                background: #abb8c3;
                                top: 50%;
                                left: -10%;
                            }
                        }
                        .dis-price {
                            color: #eb144c;
                        }

                        & + .active-price {
                            display: none;
                        }
                    }
                }
                .btn-buy {
                    background: #1d2120;
                    box-sizing: border-box;
                    padding: 10px 4px;
                    color: #fff;
                    user-select: none;
                    cursor: pointer;
                    transition: 0.25s;
                    &:hover {
                        background: $active-color;
                    }
                    &:active {
                        color: #fff;
                        background: green;
                    }
                }
            }
        }
        @media (max-width: 1023px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 30px 25px !important;
            .main-img {
                width: auto;
                box-sizing: border-box;
                max-height: 500px;
                min-height: 500px;
                margin-bottom: 20px;
                position: relative;
                img {
                    width: 100%;
                    height: 100%;
                    // object-fit: cover;
                }
            }
            .info {
                width: 100%;
            }
        }
        @media (max-width: 767px) {
            padding: 20px 5px !important;
            .main-img {
                max-height: 300px;
                min-height: 300px;
                margin-bottom: 20px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .info {
                width: 100%;
                .bottom {
                    .btn-buy {
                        font-size: 14px;
                        text-align: center;
                    }
                }
            }
        }
    }
}
